.*.swp
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
.idea/
.idea-*/
spec/reports
tmp
ext/eyes_core/Makefile
ext/eyes_core/resampling_fast.so
ext/eyes_core/resampling_fast_ext.o
ext/eyes_core/resampling_fast.bundle
ext/eyes_core/.*



